p{color: yellow;
        position: absolute;
        top: 100px;
        right: 100px;}
.greece{color: white;}
.welkom{position: absolute;
        top: 50px;
        right: 50px;}
img{width: 100%;}

        