.box {position: relative;
        border: solid black 2px; 
        width: 300px;
        height: 300px;}

.vogel {position: absolute;
        border: solid black 4px;
        width: 150px;
        height: 150px;
        padding: 0px;}

