p{  color: black;
    transition: 3s}
p:hover{color: red;}

.container {display: flex;
            flex-direction: column;
            border: solid black 3px;
            background-color: pink;
            position: relative;
            width: 1500px;
            left: 0px;}

.container div{
            width: 100px;
            height: 100px;
            border: solid black 1px;
            text-align: center;
            line-height: 100px;
            font-size: xx-large;
            margin: 5px;
            background-color: pink;
            position: relative;
            transition: all 3s;}

.container:hover div {
            margin-left: 1395px;
            background-color: red;}

.container:hover .block1{border-radius: 50%;
        transition-timing-function: default;}

.container:hover .block2{border-radius: 25%;
        transition-timing-function: ease-in-out;}

.container:hover .block4{
        transition-timing-function: ease-in-out;}






                