.container{display: flex;
            transition: all 3s ease-in-out;
            margin: 50px;}

.card{width: 300px;
        height: 400px;
        border: solid black 1px;
        border-radius: 25%;
        background-color: grey;
        text-align: center;
        position: relative;
        left:0px;
        transition: 0.4s ease-out;}

img{width: 300px;
        height: 300px;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;}

.card:hover{transition-timing-function: ease-in-out;
        transition: 0.4s ease-out;
        transform: translateY(-20px);
        position: relative;}

.card:hover ~ .card {
        position: relative;
        left: 200px;
        transition: 0.4s ease-out;}

.card:not(:first-child) {
        margin-left: -200px;}




