.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 220px;
    margin-top: 50px;
    background-color: rgb(236, 235, 144);}

.een {width: 100%;
        height: 25px;
        margin-top: 20px;}

.twee {width: 40%;
        height: 25px;
        margin-top: 5px;}

.drie {width: 50%;
        height: 25px;
    margin-top: 5px;}

.vier {width: 60%;
        height: 25px;
        margin-top: 5px;}

.vijf {width: 25%;
    height: 25px;
    margin-top: 5px;}

.zes {width: 30%;
        height: 25px;
        margin-top: 5px;}
